<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Detail</title>
</head>
<body>
    <h1><%= game.title %></h1>
    <p>Genre: <%= game.genre %> </p>
    <p>Release Year: <%= game.releaseYear %> </p>
    <p>Rating: <%= game.rating %> </p>
    <a href="/games/view">Back to Game List</a>
</body>
</html>